python 3.13.1
pandas
matplotlib
seaborn
scikt-learn
mlflow
deepcheck
evedintly
tensorflow
keras
transformers
tf-keras
sentence-transformers
langchain 
langchain-openai 
langchain-community 
langchain-huggingface
faiss-cpu 
chromadb
langgraph
langchain-graph
grandalf
langchain-graph-visualization
pyppeteer